body {
  font-family: "Georgia";
}

/********** Base styles **********/
* {
  box-sizing: border-box;

}
h1 {
  margin-bottom: 15px;
  font-size: 175%;
  text-align: left;
}


.container {
  border: 1px solid black;
  background-color: #D3D3D3;
  margin: 0px;
  padding: 15px;
  padding-bottom: 0px;
  position: relative;
  width: 100%
}

.navbar-brand h1 { /* Restaurant name */
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

.navbar-toggle, .collapsed {
 background-color: #000000;
}

.navbar-toggle .icon-bar {
 background-color: #FFFFFF;
}


#nav-list {
  margin-top: 10px;
  background-color: #000080;
  margin-bottom: 0px;
}
#nav-list a {
  color: #FFFFFF;
  text-align: center;
}
#nav-list a:hover {
  background: #808000;
}
#nav-list a span {
  font-size: 1.8em;
}

#main-content{
  border: none;
  background-color: #FFFFFF;
  width: 100%
}

.col-xs-12{
  border: 1px solid black;
  background-color: #00FFFF;
  margin: 0px auto 15px;
  padding: 15px;
  padding-bottom: 15px;
  position: relative;
  width: 100%
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  color: #800000;
}

.col-xs-12>span{
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}